.paper {
  padding: var(--space-4);
  color: var(--font-color-2);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.paper ul {
  padding-left: var(--space-4);
}

.dark-mode .paper {
  color: var(--font-color-1);
}
