.paper {
  background-color: var(--font-color-1);
  padding: var(--space-4);
  color: var(--font-color-2);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.paper ul {
  padding-left: var(--space-4);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--font-color-1) inset;
  box-shadow: 0 0 0px 1000px var(--font-color-1) inset;
  -webkit-text-fill-color: var(--main-color);
}
