@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --font-sm: 0.8rem;
  --font-md: 1rem;
  --font-lg: 1.2rem;
  --font-xl: 1.6rem;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;

  --main-color: #9966cc;
  --sun-yellow: #f6dc7b;
  --error-red: #ef4444;
  --moon-blue: #41a3dd;
  --font-color-1: #f1f2f3;
  --font-color-2: #333;

  --icon-sm: 1rem;
  --icon-md: 2rem;
}

body {
  background-color: var(--font-color-1);
}
