header {
  background-color: var(--main-color);
  color: var(--font-color-1);
  padding: var(--space-2);
  font-size: var(--font-lg);
  font-family: "Source Sans 3", sans-serif;
  display: flex;
  align-items: center;
  padding-left: var(--space-3);
}
