main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Source Sans 3", sans-serif;
}

main::selection {
  background-color: var(--main-color);
  color: var(--font-color-1);
}

main > * {
  padding: var(--space-3);
}

main .form-wrapper {
  color: var(--main-color);
}

.general-wrapper,
.educ-wrapper,
.practical-wrapper {
  padding: var(--space-3);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

button {
  padding: 0 var(--space-2);
  font-size: var(--font-md);
  font-family: "Source Sans 3", sans-serif;
  cursor: pointer;
  border: none;
  color: var(--main-color);
}

button:hover {
  color: var(--font-color-1);
  background-color: var(--main-color);
  border-radius: 2px;
}

.btn-control {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-1);
}

input,
select {
  padding: 0 var(--space-1);
  font-family: "Source Sans 3", sans-serif;
  font-size: var(--font-md);
  border: none;
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: var(--font-color-1);
}

input:focus,
select:focus,
button:focus {
  outline: 1px solid var(--main-color);
  border-radius: 2px;
}
