.practical-wrapper .form-control,
.job-res-wrapper {
  display: flex;
  flex-direction: column;
}

.job-res-wrapper {
  gap: var(--space-1);
}

.practical-wrapper .btn-control.job-res {
  justify-content: space-between;
  align-items: center;
}
